# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/imap-frontend/node_modules
/imap-frontend/.pnp
/imap-frontend/.pnp.js
/imap-frontend/package-lock.json

# testing
/imap-frontend/coverage

# production
/imap-frontend/build

# misc
/imap-frontend/.eslintcache
/imap-frontend/.DS_Store
/imap-frontend/.env.local
/imap-frontend/.env.development.local
/imap-frontend/.env.test.local
/imap-frontend/.env.production.local

/imap-frontend/npm-debug.log*
/imap-frontend/yarn-debug.log*
/imap-frontend/yarn-error.log*

/imap-backend/node_modules
/imap-backend/.env
/imap-backend/.eslintrc.js
/imap-backend/package-lock.json

package-lock.json
/node_modules
