.head {
  background: #f2eee9;
  height: 100px;
  display: flex;
  justify-content: left;
  width: 100%;
  top: 0;
  text-align: center;
}
.container-left {
  display: flex;
  align-items: left;
  justify-content: left;
  margin-left: 0;
  width: 20vw;
}
.container-center {
  display: flex;
  padding-left: 12em;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: fit-content;
}
.logo {
  width: 170px;
}
.color {
  text-align: center;
  font-size: x-large;
  font-weight: 1000;
  color: #3fada8;
}

.color2 {
  text-align: center;
  font-size: x-large;
  font-weight: 1000;
  color: #808080;
}

@media screen and (min-width: 540px) and (max-width: 1000px) {
  .container-left {
    display: flex;
    align-items: left;
    justify-content: left;
    margin-left: 0;
    width: 20vw;
  }
  .container-center {
    display: flex;
    padding: 2em;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: fit-content;
  }
  .color {
    text-align: center;
    font-size: medium;
    font-weight: 1000;
    color: #3fada8;
  }

  .color2 {
    text-align: center;
    font-size: medium;
    font-weight: 1000;
    color: #808080;
  }
}

@media screen and (min-width: 220px) and (max-width: 540px) {
  .container-left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .container-center {
    display: none;
  }
  .color {
    text-align: center;
    font-size: medium;
    font-weight: 1000;
    color: #3fada8;
  }

  .color2 {
    margin-left: 1em;
    text-align: center;
    font-size: medium;
    font-weight: 1000;
    color: #808080;
  }
}
