.react-autosuggest__container {
  position: absolute;
  width: 100%;
  display: grid;
  justify-items: right;
}

.react-autosuggest__input {
  margin-right: 8%;
  width: 50%;
  height: 30px;
  padding-left: 4px;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 80%;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  background-color: rgb(243, 240, 240);
  height: auto;
  width: 80%;
  font-size: 14px;
  margin-right: 8%;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid #959da1;
  border-top: 0px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

@media screen and (min-width: 200px) and (max-width: 430px) {
  .react-autosuggest__container {
    position: absolute;
    width: 100%;
    display: grid;
    justify-items: right;
    margin-right: 0;
  }
  .react-autosuggest__input {
    margin-right: 1em;
    width: 80%;
    height: 25px;
    padding: 5px 5px;
    font-weight: 300;
    font-size: 16px;
    border: 1px solid #aaa;
    border-radius: 4px;
    outline: none;
  }
  .react-autosuggest__input--focused {
    outline: none;
  }
  .react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
  }
  .react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .react-autosuggest__suggestions-container--open {
    margin-right: 1.4em;
    display: block;
    background-color: rgb(243, 240, 240);
    padding: 0px 0px;
    height: auto;
    width: 100%;
    font-size: 12px;
  }
  .react-autosuggest__suggestion {
    cursor: pointer;
    padding: 4px 6px;
  }
  .react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
  }
}
